.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.bd{
    background-color: yellow;
   }


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*hello*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.black-color{
  color: black;
}
.red-color{
  color: red;
}
.green-color{
  color: green;
}
.fixed-button {
  position: fixed;
  right: 15px;
  bottom: 15px;
  index: 1000;
}
.blue-color{
  color: blue;
}
.transparent-button{
  background-color: transparent;
  border-color: transparent;
}
.float-right{
  float: right;
}
.white-color{
  color: white;
}
.nav-pills .nav-link.active {
  color: white;
  background-color: #007bff;
}
.nav-pills .nav-link{
  background-color: white;
}
.nav-pills .bd{
  background-color: yellow;
}
.list-group-item.active{
  color: white;
  background-color: #007bff;
}
.navbar-nav .nav-link.active {
  color: white;
  background-color: #3396ff;
}
.float-center{
  float: left;
  position: relative;
  left: 50%;
}
.make-bold{
  font-weight: bold;
  font-size: small;
}
.text-right{
  text: right;
}