# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\devanshi\Documents\Spring 2021 Sem Study materials\react-assignment\wbdv-spring-01-devanshi-sheth-client-react\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
